.post {
  display: flex;
  justify-content: space-between;
  border: 2px solid seagreen;
  padding: 10px;
  align-items: center;
  margin-top: 10px;
}
.button__delete {
  height: 40px;
  padding: 5px 10px;
  background-color: #a0a0a0;
  font-weight: 600;
  border: 2px solid black;
  &:hover {
    color: #c5c5c5;
    cursor: pointer;
  }
}